<style>

    body {
        background-image: url('<%= image_url "Aerospace_Bldg.jpg" %>');
        background-size: cover; 
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-color: #121212; 
        color: white; 
    }
</style>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Sections" %>

<h1>Sections</h1>

<div id="sections">
  <% @sections.each do |section| %>
    <%= render section %>
    <p>
      <%= link_to "Show this section", section %>
    </p>
  <% end %>
</div>

<%= link_to "New section", new_section_path %>
